// Sidebar skin generator
@mixin sidebar-variant($background, $color, $hover-active-color, $brand-background, $brand-color, $accordion-color, $accordion-active) {
    .sidebar-panel {
        background-color: $background;
        @include box-shadow(0px 10px 20px 0px rgba(115, 158, 255, 0.1));

        > .brand {
            background-color: $brand-background;
            a {
                color: $brand-color;
                &:active, &:focus, &:hover {
                    color: lighten($brand-color, 5%);
                }
            }
            .hamburger-icon span {
                background-color: $brand-color;
            }
            .hamburger-icon:hover span {
                background-color: $hover-active-color;
            }
        }
        .quick-launch-apps a {
            color: $color;
            &:visited, &:active, &:focus, &:hover {
                color: $hover-active-color;
            }
        }
        > nav {
            li.menu-accordion > a::before {
                //@include box-shadow(0 0 0 0.0625rem $accordion-color);
            }
            li.open.menu-accordion > a::before {
                content: '\f107';
                color: #fff;
            }
            > ul > li > ul {
                background-color: darken($background, 0%)
            }
            > ul > li > a:hover,
            > ul > li > a:active,
            > ul > li > a:focus,
            > ul > li.open > a,
            > ul > li.open > a:hover,
            > ul > li.open > a:focus,
            > ul > li.open > a:active {
                color: #fff !important;
                @include linear-gradient (180deg, rgb(0, 156, 255) 0%, rgb(183, 69, 240) 91%);
                @include box-shadow(4.724px 20.462px 40px 0px rgba(108, 160, 255, 0.4));

                &::before {
                    color: #fff;
                }
                > i {
                    color: #fff;
                }
            }
            li.open > a,
            li.active > a {
                color: $hover-active-color;
            }
            .open > a,
            .open > a:hover,
            .open > a:focus {
                background-color: transparent;
            }
            a {
                color: $color;
                &:active, &:focus, &:hover {
                    color: $hover-active-color !important;
                }
            }
            .heading {
                color: darken($color, 10%);
            }
        }
    }
    @media screen and (min-width: $screen-sm-min) {
        .small-menu .sidebar-panel > nav li.open {
            background-color: darken($background, 2%);
        }
        .small-menu .sidebar-panel nav > ul > li > .sub-menu {
            background-color: darken($background, 2%)
        }
    }
}

// Header skin generator
@mixin header-variant($background, $hover-active-background, $color, $hover-active-color) {
    .main-panel > .header {
        background-color: $background;
        .navbar-text {
            color: $color;
        }
        .nav > li > a {
            color: $color;
        }
        .nav > li > a:hover,
        .nav > li > a:focus {
            background-color: $hover-active-background;
            color: $hover-active-color;
        }
        .nav .open > a,
        .nav .open > a:hover,
        .nav .open > a:focus {
            background-color: $hover-active-background;
            color: $hover-active-color;
        }
        .hamburger-icon {
            span {
                background: $color;
            }
            &:hover span {
                background: $hover-active-color;
            }
        }
    }
    @media (max-width: $screen-xs-max) {
        .header .brand {
            .brand-logo {
                color: $color;
            }
        }
    }
}
